<a href="https://colab.research.google.com/github/Ttungjae/kb5000/blob/main/kbkb0807.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
sym = "TSLA"  # This is not case-sensitive
token = "pk_0dd1ed99cc464434aa0ee8abf070c1af"
df_temp = pd.read_json('https://cloud.iexapis.com/stable/stock/'+sym+'/chart/1y?token='+token+'')

In [8]:
df_temp.set_index("date", inplace =True)

In [21]:
df_temp.columns

Index(['close', 'high', 'low', 'open', 'symbol', 'volume', 'id', 'key',
       'subkey', 'updated', 'changeOverTime', 'marketChangeOverTime', 'uOpen',
       'uClose', 'uHigh', 'uLow', 'uVolume', 'fOpen', 'fClose', 'fHigh',
       'fLow', 'fVolume', 'label', 'change', 'changePercent'],
      dtype='object')

In [24]:
dfx=df_temp[['close', 'high', 'low', 'open', 'volume','changePercent']]

In [25]:
dfx

             close     high       low    open    volume  changePercent
date
2021-03-08  563.00  620.125  558.7900  600.55  51786958         0.0000
2021-03-09  673.58  678.090  595.2100  608.18  67523328         0.1964
2021-03-10  668.06  717.850  655.0600  700.30  60605672        -0.0082
2021-03-11  699.60  702.500  677.1800  699.40  36253892         0.0472
2021-03-12  693.73  694.880  666.1394  670.00  33583840        -0.0084
...            ...      ...       ...     ...       ...            ...
2022-02-28  870.43  876.860  814.7075  815.01  33002289         0.0748
2022-03-01  864.37  889.880  853.7800  869.68  24922287        -0.0070
2022-03-02  879.89  886.480  844.2721  872.13  24881146         0.0180
2022-03-03  839.29  886.439  832.6001  878.77  20541169        -0.0461
2022-03-04  838.29  855.650  825.1609  849.10  22393287        -0.0012

[252 rows x 6 columns]